.App {
  display: flex;
  flex-direction:column;
}
.contents__section {
  margin-left:1rem; 
}
.header {
  padding: 1rem 3rem;
  background: #3b5998;
  display: flex;
  justify-content:space-between;
  align-items:center;
}
.header h1 {
  color: white;
}
.header >select {
  font-size: 1rem;
  height: 50px;
  width:100px;
  padding:1rem;
}

.contents{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}